<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/main.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
</head>
<body>
<section>
    <div class="wrapper">
        <header>
            <nav class="container">
                <div class="logo">
                </div>
                <div class="start">
                    <a asp-controller="Home" asp-action="Index" class="navLinks">Start</a>
                </div>
                <div class="about">
                    <a asp-controller="Home" asp-action="About" class="navLinks">About Me</a>
                </div>
                <div class="contact">
                    <a asp-controller="Home" asp-action="Contact" class="navLinks">Contact Me</a>
                </div>
                <div class="projects">
                    <a asp-controller="Home" asp-action="Projects" class="navLinks">Projects</a>
                </div>
            </nav>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            <span>&copy; Tim Weinitz @DateTime.Now.ToString("yyyy-MM-dd")</span>
        </footer>
    </div>
</section>
</body>
</html>