@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Om</h2>
<p>
Hej.
Här har ni en kille på 31 år med stort intresse för programmering.
Jag läster dotnet på lexicon och tycker att det är väldigt roligt. 
Nya tekniker och lösningar är något som driver mig och jag spenderar mycket tid på att leta nya projekt på Github.
</p>