@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Kontakt</h2>
<dl>
    <dt>Tel</dt>
    <dd>072-9939555</dd>
    <dt>Mail</dt>
    <dt><img src="~/images/mail.png"  alt="email"/></dt>
</dl>